.layout {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.layout hr {
  height: 1px;
  background-color: rgb(44, 34, 85);
  border: none;
  margin: auto 25px;
}

.content {
  margin: 40px 90px auto;
  flex: 1 0 auto;
}

.container {
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr 1fr; */
  /* max-width: 768px; */
  margin: auto;
  overflow: auto;
  padding: 0 10px;
}

.header {
  text-align: center;
}

.header h1 {
  font-size: 3em;
  padding-top: 1.5em;
}

.header h3 {
  font-size: 1.5em;
  padding-top: 0.5em;
  font-weight: 400;
}

.back a {
  transition: 0.2s;
}
.back a:hover {
  color: grey;
}

/* @media screen and (max-width: 1000px) {
  .content {
    margin: 40px 30px auto;
  }
} */

@media screen and (max-width: 850px) {
  .content {
    margin: 40px 30px auto;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
} */
